body{
   
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    margin: 0;
    overflow: hidden;

}

.coluna{
    flex: 1;
    height: 100vh;
    box-shadow: inset 30px 30px 25px rgba(0, 0, 0, 0.5); 
    
}

button{
    position: relative;
    width: 150px;
    height: 50px;
    padding: 10px 20px;
    z-index: 10;
    
    border-radius: 30px;
    text-align: center;
    border: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: large;
    font-weight: 800;
    cursor: pointer;

}

.esquerda{
    background-color:rgba(0, 251, 255, 0.719) ;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:column;
    gap: 10px;
    
}

.hytechButtom{
    background-color: #fffffff8;
    color: rgb(0, 251, 255);
    box-shadow: 1px 1px 5px #fffffff8;

}

.dicaHytech{
    background-color: #fffffff8;
    color:rgb(0, 251, 255);
    box-shadow: 1px 1px 5px #fffffff8;
    width: 50px;
    height: 50px;
    padding: 10px 20px;
    border-radius: 50%;
    scale: 70%;

}

.boxHyghTech{

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 60%;
    background-color: #fffffff8;
    color: rgb(0, 251, 255);
    box-shadow: 1px 1px 5px #fffffff8;
    width: 130px;
    height: 100px;
    padding: 10px 10px; 
    z-index: 10;
    
    border-radius: 30px;
    text-align: center;
    border: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: medium;
    font-weight: 600;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    cursor: default;

}

.boxHyghTech.visivel{
    opacity: 1;
}


.container_BGHyghTech{
    background-image: url(../imagens/abstract-digital-background-with-connecting-dots-lines.jpg);
    overflow: hidden;
    display: flex;
    align-items:center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    margin: 0;
    background-repeat: no-repeat;
    position: fixed;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    mix-blend-mode: darken;
    opacity: 30%;

}

.centro{
    background-color:rgb(255, 0, 170) ;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:column;
    gap: 10px;
}

.romanticoButtom{
    background-color: #fffffff8;
    color: rgb(255, 0, 170);
    box-shadow: 1px 1px 5px #fffffff8;
    
}

.dicaRomantico{
    background-color: #fffffff8;
    color:rgb(255, 0, 170);
    box-shadow: 1px 1px 5px #fffffff8;
    width: 50px;
    height: 50px;
    padding: 10px 20px;
    border-radius: 50%;
    scale: 70%;

}

.boxRomantico{

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 60%;
    background-color: #fffffff8;
    color: rgb(255, 0, 170);
    box-shadow: 1px 1px 5px #fffffff8;
    width: 130px;
    height: 100px;
    padding: 10px 10px; 
    z-index: 10;
    
    border-radius: 30px;
    text-align: center;
    border: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: medium;
    font-weight: 600;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    cursor: default;

}

.boxRomantico.visivel{
    opacity: 1;
}

.container_BGRomantico{
    background-image: url(../imagens/preview.jpg);
    overflow: hidden;
    display: flex;
    align-items:center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    margin: 0;
    background-repeat: no-repeat;
    position: fixed;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    mix-blend-mode: darken;
    opacity: 30%;
    
}

.direita{
    background-color:rgba(9, 255, 0, 0.719) ;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:column;
    gap: 10px;
}

.materialistaButtom{
    background-color: #fffffff8;
    color: rgb(9, 255, 0);
    box-shadow: 1px 1px 5px #fffffff8;
    
}

.dicaMaterialista{
    background-color: #fffffff8;
    color:rgb(9, 255, 0);
    box-shadow: 1px 1px 5px #fffffff8;
    width: 50px;
    height: 50px;
    padding: 10px 20px;
    border-radius: 50%;
    scale: 70%;

}

.boxMaterialista{

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 60%;
    background-color: #fffffff8;
    color: rgb(9, 255, 0);
    box-shadow: 1px 1px 5px #fffffff8;
    width: 250px;
    height: 100px;
    padding: 10px 10px; 
    z-index: 10;
    
    border-radius: 30px;
    text-align: center;
    border: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: medium;
    font-weight: 600;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    cursor: default;

}

.boxMaterialista.visivel{
    opacity: 1;
}

.container_BGHMaterialista{
    background-image: url(../imagens/13904-NP8E4F.jpg);
    overflow: hidden;
    display: flex;
    align-items:center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    margin: 0;
    background-repeat: no-repeat;
    position: absolute;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    mix-blend-mode: darken;
    opacity: 50%;

}

@keyframes animacaoBox {
    0%{transform: opacity(0);}
    100%{transform: opacity(1);}
    
}

.animacaoButao{
    animation: animacaoButao 0.3s ease-in-out;

}

@keyframes animacaoPulse {
    0%{transform: scale(1);}
    50%{transform: scale(0.75);}
    100%{transform: scale(1);}
    
}

.animacaoPulse{
    animation: animacaoPulse 0.3s ease-in-out;

}

.boxConfirmacao{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    position: absolute;
    background-color: aliceblue;
    height: 300px;
    width: 600px;
    margin: 50px;
    padding: 10px;
    box-shadow: 1px 1px 5px #fffffff8; 
    z-index: 15;
    border-radius: 30px;
    text-align: center;
    border: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: medium;
    font-weight: 600;
    cursor: default;

}

.tela{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    position: absolute;
    margin: 0;
    overflow: hidden;
    background-color: black;
    opacity: 30%;
    z-index: 12;

}