
body{
    background-color: rgb(255, 0, 170);
    overflow: hidden;
    display: flex;
    align-items:center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    margin: 0;
    position: fixed;

}

button{
    cursor: pointer;
}

.start{
    
    position: relative;
    z-index: 10;
    width: 150px;
    height: 50px;
    padding: 10px 20px;

    background-color: #fffffff8;
    color: rgb(255, 0, 170);
    box-shadow: 1px 1px 5px #fffffff8;
    border-radius: 30px;
    text-align: center;
    border: 0;
    font-size: large;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    border-color: #fffffff8;
    font-size: large;
    

}


.container_granulado{
    background-image: url(../imagens/black-sand-beach-with-pebble-tenerife-volcanic-sandy-shore.jpg);
    overflow: hidden;
    display: flex;
    align-items:center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    margin: 0;
    background-repeat: no-repeat;
    position: fixed;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    mix-blend-mode: multiply;
    opacity: 30%;
    z-index: 1;

}

.container_presentes{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.presente {
    position: absolute;
    width: 100px;
    height: 100px;
    scale: 50%;
}


.imagem1{
    position:absolute;
    top: -100px;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 100px;
    scale: 50%;
    transform: translateX(-50%) rotate(-45deg)
}

@keyframes animacaoButao {
    0%{transform: scale(1);}
    50%{transform: scale(0.75);}
    100%{transform: scale(1);}
    
}

.animacaoButao{
    animation: animacaoButao 0.3s ease-in-out;

}