
body{
    background-color: rgb(255, 0, 170);
    display: flex;
    align-items:center;
    justify-content: center;
    height: 100vh;
    margin: 0;

}
.start{
    
    padding: 10px 20px;
    font-size: 16px;

}